{{ partial "header.html" . }}

<body>
  <main id="main">
    <div class="container">
      <h1 id="title">{{ .Title }}</h1>
      {{ if .Content }}
        <br>
        <div class="post__content">
          {{ .Content }}
        </div>
        <br>
        <hr>
      {{ end }}
      {{ range .Pages }}
        {{ .Render "summary"}}
      {{ end }}
    </div>

    <div class="section-nav">
      <div class="section-nav__center">
        {{with .Parent}}
          <a href="/" class="nav-btn">
            <span class="nav-icon">👋</span>
          </a>
        {{end}}
      </div>
    </div>
  </main>
</body>

{{ partial "footer.html" . }}
