.bg-red {
  background: $color-red;
  text-shadow: 0 0 .5rem $color-background;
}

.bg-green {
  background: $color-green;
  text-shadow: 0 0 .5rem $color-background;
}

.bg-blue {
  background: $color-blue;
  text-shadow: 0 0 .5rem $color-background;
}

.bg-yellow {
  background: $color-yellow;
  text-shadow: 0 0 .5rem $color-background;
}

.bg-orange {
  background: $color-orange;
  text-shadow: 0 0 .5rem $color-background;
}
