@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap');

@import './variables';
@import './layout';
@import './background';
@import './pyramid';
@import './spacing';
@import './typography';
@import './tinyletter';
@import './story-circle';

article.post {
  margin: 5rem 0;
}

.post__content {
  font-size: 1.25rem;
  line-height: 2.25rem;

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
}

.post__title {
  margin-bottom: .25rem;
}

.post__meta {
  color: $color-comment;
}

.post__summary {
  margin-top: 1rem;
  line-height: 1.5rem;
}

.pill {
  display: inline-block;
  background: $color-comment;
  padding: 0 .75rem 0 .75rem;
  font-size: 1rem;
  border-radius: 3rem;
  text-shadow: 0 0 .5rem $color-background;
}


