a {
  color: $color-blue;
}

a:visited {
  color: $color-purple;
}

.display-1 {
  font-size: 3rem;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
  background: rgba($color-blue, .5);
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.75rem;
  }
}

.text-red {
  color: $color-red;
}

.text-orange {
  color: $color-orange;
}

.text-light {
  color: $color-light;
}

.text-yellow {
  color: $color-yellow;
}

.text-green {
  color: $color-green;
}

.text-blue {
  color: $color-blue;
}

.text-purple {
  color: $color-purple;
}

.text-comment {
  color: $color-comment;
}

.info-box {
  @media screen and (max-width: 600px) {
    width: 100%;
    margin-top: 0;
  }

  line-height: 1.5rem;
  font-size: .85rem;
  border: 1px solid $color-yellow;
  border-radius: .5rem;
  padding: 1rem;
  margin: 1rem;
  max-width: calc(100% - 4rem);
  width: 20rem;
  float: right;
  color: $color-yellow;

  p:first-of-type {
    margin-top: 0;
  }

  .caption {
    font-style: italic;
    text-align: right;
    color: $color-yellow;
    opacity: 50%;

    &:before {
      margin-right: 0.15rem;
      content: "💫"
    }
  }
}
