$color-background: #272822;
$color-foreground: #F8F8F2;
$color-comment: #75715E;
$color-red: #F92672;
$color-orange: #FD971F;
$color-light:  #E69F66 ;
$color-yellow: #E6DB74;
$color-green: #A6E22E;
$color-blue: #66D9EF;
$color-purple: #AE81FF;
