<div class="section-nav">
  <div class="section-nav__left">
    {{with .NextInSection}}
      {{if not .Params.include}}
        <a href="{{.Permalink}}" class="nav-btn">
          <span class="nav-icon left">👈</span> {{.Title | truncate 34}}
        </a>
      {{end}}
    {{end}}
  </div>

  <div class="section-nav__center">
    {{if (eq .CurrentSection.Name "Posts")}}
      <a href="/" class="nav-btn">
        <span class="nav-icon">👋</span>
      </a>
    {{else}}
      {{with .CurrentSection}}
        <a href="{{.Permalink}}" class="nav-btn">
          <span class="nav-icon">👋</span>
        </a>
      {{end}}
    {{end}}
  </div>

  <div class="section-nav__right">
    {{with .PrevInSection}}
      {{if not .Params.include}}
        <a href="{{.Permalink}}" class="nav-btn">
          {{.Title | truncate 34}} <span class="nav-icon right">👉</span>
        </a>
      {{end}}
    {{end}}
  </div>
</div>
